.pagina{
    display: grid;
    grid-template-areas: 
        "cabecera cabecera cabecera cabecera"
        "galeria galeria galeria galeria"
        "galeria galeria galeria galeria"
        "galeria galeria galeria galeria"
        "galeria galeria galeria galeria"
        "galeria galeria galeria galeria"
        "bajo__paa bajo__pagina bajo__pagina bajo__pagina"
    
    
    ;
}
.header{
    grid-area: cabecera;
}
.footer{
    grid-area: bajo__pagina;
}
.main{
    grid-area: galeria;
}
.cabecera{
    background-color: blue;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.galeria__logo{
    width: 10%;
    border: solid;
    animation-name: girar;
    animation-iteration-count: infinite;
    animation-timing-function: ease;
    animation-duration: 4s;
    animation-delay: 0s;
}
@keyframes girar{
    0%{ transform: rotateX(0dsg);}
    25%{transform: rotateX(45dsg);}
    50%{transform: rotateX(90dsg);}
    75%{transform: rotateX(180dsg);}
    100%{transform: rotateX(360dsg);}
}
.cabecera__navegacion{
    grid-template-columns: auto;
}




.barraNavegacion{
    text-decoration: none;
    color: rgb(0, 0, 203);
    list-style: none;
    text-align: center;
    display: flex;
    justify-content: center;
    
   


}

.barraNavegacion li{
    transition: all 1s;
}
.barraNavegacion li:hover{
    transform: scale(1.0);
    background-color: rgba(8, 1, 1, 0.261);
}

.cabecera__navrgacion__lista{
    display: inline-block;
    margin: 15px;
    border: solid 1px black;
    padding: 5px; 
    
}
a{
    text-decoration: none;
    color: rgb(0, 0, 0);
    text-align: center;
}

a{
    text-decoration: none;
}
.galeria{
    text-align: center;
}

.titulo{
    text-align: center;
    color: black;
    font-size: 16px;
    font-weight: 500;
    font-style: italic;
    font-family: Georgia, 'Times New Roman', Times, serif;
    line-height: normal;

}

.spamm{
    color:rgb(0, 0, 254) ;
    
   
}


.bajo__pagina{
    list-style: none;
    background-color: blue;
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    align-items: center;
    flex-wrap: wrap;
}
.insta{
list-style: none;
}


    

    



.galeria__imagen{
    border: solid 2px black;
    height: 500px;
    width: 800px;
    text-align: center;

    }
    /* quienes somos */
.spamm2{
    color: black;
    text-align: center;
    

}
.foto2{
    border: solid 2px black;
    height: 450px;
    width: 450px;
   
    
}
.foto3{
    border: solid 2px black;
    height: 450px;
    width: 450px;
   
    
}

@media only screen and (max-width: 768px){
    .iframe{
        display: none;
    }
    
}