
.header{
    grid-area: cabecera;
}
.footer{
    grid-area: bajo__pagina;
}
.main{
    grid-area: galeria;
}
.cabecera{
    background-color: blue;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.galeria__logo{
    width: 20%;
    border: solid;
}
.cabecera__navegacion{
    grid-template-columns: auto;
}




.barraNavegacion{
    text-decoration: none;
    color: rgb(0, 0, 203);
    list-style: none;
    text-align: center;
    display: flex;
    justify-content: center;
    
   


}

.barraNavegacion li{
    transition: all 1s;
    background-image: linear-gradient(red, white, black);
}
.barraNavegacion li:hover{
    transform: scale(1.0);
    background-image: linear-gradient(black, white, red);
}

.cabecera__navrgacion__lista{
    display: inline-block;
    margin: 15px;
    border: solid 1px black;
    padding: 5px; 
    
}
a{
    text-decoration: none;
    color: rgb(0, 0, 0);
    text-align: center;
}

a{
    text-decoration: none;
}
.galeria{
    text-align: center;
}

.titulo{
    text-align: center;
    color: black;
    font-size: 16px;
    font-weight: 500;
    font-style: italic;
    font-family: Georgia, 'Times New Roman', Times, serif;
    line-height: normal;

}

.spamm{
    color:rgb(0, 0, 254) ;
    
   
}


.bajo__pagina{
    list-style: none;
    background-color: blue;
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    align-items: center;
    flex-wrap: wrap;
}
.insta{
list-style: none;

background-image: linear-gradient(blue, red);
}
.insta:hover{
    background-image: linear-gradient(red, blue);
    transform: scale3d(2.0);
}



    

    



.galeria__imagen{
    border: solid 2px black;
    height: 500px;
    width: 800px;
    text-align: center;

    }
    /* quienes somos */
.spamm2{
    color: black;
    text-align: center;
    

}
.foto2{
    border: solid 2px black;
    height: 450px;
    width: 450px;
   
    
}
.foto3{
    border: solid 2px black;
    height: 450px;
    width: 450px;
   
    
}

@media only screen and (max-width: 768px){
    .iframe{
        display: none;
    }
    
}